{% comment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{% endblock %}</title>

</head>
<body>

<nav>
    <ul>
        <li><a href="{% url 'tasks:task_list' %}">Task List</a></li>
        <!-- Add other navigation links -->
        <li><a href="{% url 'tasks:register' %}">Register</a></li>
        <li><a href="{% url 'tasks:login' %}">Login</a></li>
        <li><a href="{% url 'tasks:logout' %}">Logout</a></li>
    </ul>
</nav>

{% block content %}
    
{% endblock %}



</body>
</html> {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{title}}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

  <!-- Bootstrap core CSS -->

</head>

<style>
    {% block style %}{% endblock style %}
</style>

<body>
    <div class="header" style="background-color: #503335; url('') no-repeat fixed center">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="{% url "home" %}">Task </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="" id="navcol-1">
                    <ul class="nav navbar-nav ">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="">Pending</a>
                        </li>


                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="{% url 'logout' %}">LogOut</a>
                        </li>

                        {% else %}

                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item"  role="presentation">
                            <a class="nav-link active"  href="{% url 'login' %}">LogIn</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

    {% block cta %}{% endblock cta %}
    {% block content %}{% endblock content %}

    <!--  JQuery  -->

    

    <script>
    {% block script %}{% endblock script %}
    </script>
 
</body>

</html>
